.link {
    margin-right: 20px !important;
    margin-left: 20px !important;
    white-space: nowrap;
}

@media only screen and (max-width: 900px) {
    .logo {
        margin: auto;
        position: relative;
        right: 24px;
    }
}

// When small, the phone and whatsapp links appear so we need to offset.
@media only screen and (max-width: 600px) {
    .logo {
        right: 0px;
        // Todo var image small minus --s-1
        left: 16px;
    }
}

.logo {
    margin-right: auto;
}
